DATABASE_URL=postgres://postgres:password@anet-db:5432/db
AUTH_BACKEND_KEY=super_secret_key
BIND_TO=0.0.0.0:3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=db

#ip address or domain for client.toml
DOMAIN=example.com
# Порты для протоколов в server.toml
SSH_PORT=8222
QUIC_PORT=8443
VNC_PORT=5900

# tun интерфес для anet-server
ANET_TUN=anet-server

# настройки конфига клиента
# флаг чтобы генерировать конфиг только для объединения клиентов в локальную сеть (без проксирования всего трафика через сервер)
ONLY_LOCAL=false
