DATABASE_URL=postgres://postgres:password@anet-db:5432/db
AUTH_BACKEND_KEY=super_secret_key
BIND_TO=127.0.0.1:3000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=db
#ip address or domain for client.toml
DOMAIN=example.com

